__pycache__/
backend/puller-flickr/config/secrets.ini
backend/ingester-database/config/secrets.ini
backend/api-server/config/secrets.ini
backend/scheduler/config/secrets.ini
backend/puller-response-reader/config/secrets.ini
backend/ingester-response-reader/config/secrets.ini
backend/common/dummy.sh