flask==1.1.1
flask_api==1.1
gunicorn==19.9.0
mysql-connector-python==8.0.19
boto3==1.9.214
jsonpickle==1.2
pymemcache==2.2.2
diskcache==4.0.0
flickrapi==2.4.0
django==2.2.13
python-memcached==1.59
Authlib[client]==0.12.1