[DEFAULT]

database-password=
database-encryption-key=
session-encryption-key=

[dev]

database-password=
database-user-data-encryption-key= # 256-bit AES encryption key
session-encryption-key= # Key used to sign session data returned to the user